// FONTS
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-title: "Kaushan Script", cursive;

// COLORS
$hover-color: #fce38a;
$white-color: white;
$section-color: #333333;
$main-color: #f38181;
$icon-button-color:#95e1d3;
