.site-navigation__item {
    display: block;
    height:34px;
    line-height: 28px;
  }

  
  .site-navigation__link {
    font-family:  $font-primary;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: $white-color;
    text-transform: uppercase;
  
  &:hover {
    color: $hover-color;
    text-decoration: none;
  
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: $hover-color;
    margin-top: 10px;
    }
  }
}
  /* SVG */
  
  .site-navigation__icon {
    width: 18px;
    height: 28px;
    fill: $white-color;
    top: 25%;

  &:hover {
    fill:$hover-color;
  }
}